{
  "$schema": "http://json.schemastore.org/prettierrc",
  "quoteProps": "consistent",
  "printWidth": 120,
  "bracketSpacing": true,
  "singleQuote": false,
  "useTabs": false,
  "arrowParens": "avoid",
  "tabWidth": 2,
  "pluginSearchDirs": false,
  "plugins": ["prettier-plugin-tailwindcss"]
}