@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;

  font-family: Inter, Avenir, Helvetica, sans-serif;
  font-size: clamp(0.8rem, 1vw, 1rem); 
  font-weight: 500;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
  background: transparent;
}

html {
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: auto;
}

body {
  /* font-family: Roboto, sans-serif; */
  color: rgb(var(--foreground-rgb));
  background-color: #141618;
}

button:focus,
a:focus,
button:focus-visible,
a:focus-visible {
  outline: 0ch;
  --tw-ring-offset-width: 0px !important;
}

.icon-shadow {
  -webkit-filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 1));
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 1));
}

.arrow-card-start {
  -webkit-clip-path: polygon(0% 0%, 85% 0%, 100% 50%, 85% 100%, 0% 100%);
  clip-path: polygon(0% 0%, 85% 0%, 100% 50%, 85% 100%, 0% 100%);
}

.arrow-card-end {
  -webkit-clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0% 100%, 6% 50%, 0% 0%);
  clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0% 100%, 6% 50%, 0% 0%);
}

@screen sm {
  .arrow-card-avatar {
    -webkit-clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
  }
}