@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;

  --scroll-bar-color: #5e1ec4;
  --scroll-bar-bg-color: #121212;

  font-family: Inter, Avenir, Helvetica, sans-serif;
  font-size: clamp(0.8rem, 1vw, 1rem); 
  font-weight: 500;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* Start Scrollbar */

::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0.1);
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--scroll-bar-color) var(--scroll-bar-bg-color);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: var(--scroll-bar-bg-color);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--scroll-bar-color);
  border: 3px solid var(--scroll-bar-bg-color);
}

.hide-scrolls::-webkit-scrollbar {
  width: 0;
  height: 0;
  background: transparent;
}

/* End Scrollbar */

html {
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: scroll;
}

body {
  /* font-family: Roboto, sans-serif; */
  color: rgb(var(--foreground-rgb));
  background-color: #141618;
}

button:focus,
a:focus,
button:focus-visible,
a:focus-visible {
  outline: 0ch;
  --tw-ring-offset-width: 0px !important;
}

.home-image-fade {
  -webkit-mask-image:-webkit-gradient(linear, left top, right bottom, from(rgba(0,0,0,0)), to(rgba(0,0,0,1)));
  mask-image: linear-gradient(to left, rgba(0,0,0,1), rgba(0,0,0,0));
}

.dock {
  position: relative;
  transform: translateX(-50%);
  align-items: flex-end;
  height: 72px;
  display: flex;
  gap: 0.5rem;
}