.layout {
  padding-bottom: 30%;
}

.bg-primary {
  background-color: #010101;
}

.bg-secondary {
  background-color: #030406;
}

@media (min-width: 380px) {
  .layout {
    padding-bottom: 25%;
  }
}

@media (min-width: 640px) {
  .layout {
    padding-bottom: 10%;
  }
}

@media (min-width: 900px) {
  .layout {
    padding-bottom: 10%;
  }
}

@media (min-width: 1368px) {
  .layout {
    padding-bottom: 5%;
  }
}
