.layout {
  padding-bottom: 30%;
}

@media (min-width: 380px) {
  .layout {
    padding-bottom: 25%;
  }
}

@media (min-width: 640px) {
  .layout {
    padding-bottom: 10%;
  }
}

@media (min-width: 900px) {
  .layout {
    padding-bottom: 10%;
  }
}

@media (min-width: 1368px) {
  .layout {
    padding-bottom: 5%;
  }
}
