@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: auto;
}

button:focus,
a:focus,
button:focus-visible,
a:focus-visible {
  outline: 0ch;
  --tw-ring-offset-width: 0px !important;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
  background: transparent;
}

:root {
  font-family: Inter, Avenir, Helvetica, sans-serif;
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #080808;

  /* "#16161b" "#202029"  */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
