.layout {
  height: 80vh;
}

@media (min-width: 380px) {
  .layout {
    height: 80vh;
  }
}

@media (min-width: 640px) {
  .layout {
    height: 82vh;
  }
}

@media (min-width: 900px) {
  .layout {
    height: 70vh;
  }
}

@media (min-width: 1368px) {
  .layout {
    height: 73vh;
  }
}

@media (min-width: 1400px) {
  .layout {
    height: 84vh;
  }
}
